.imgCarrito{
    text-align: center;
    color: white;
    background-color:#440f87;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    
}

.imgCarrito>i{
    position: absolute;
    top: 14px;
    right: 14px;
    margin: auto;
    cursor:pointer;
 
}

.imgCarrito>i:hover{
    color: rgb(136, 135, 133);
    transition: all 0.5 ease-in-out;
}
.itemsCarrito{
text-decoration: none;
list-style: none;
margin: 13px;
}

.cuerpoItems{
    border: solid 1px;
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 5px;
    padding-right:5px;
    border-radius: 10px;
    background: #440f87;
    color: white;
    font-weight: bold;
    width: 300px;
    min-width: 300px;
    min-height: 150px;
}
.cerrar-btn {
    position: absolute;
    top :15px;
    right: 25px;
}

.tacho:hover{
 
 color: rgb(247, 144, 144);
}
.tacho{
    color: red;
    cursor:pointer
   }

.titleCarrito{
    text-align: center;
    margin-bottom: 10px;
     
}
.table{
      text-align: center;
}
thead th:nth-child(1) {
    width: 60%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 20%;
  }
  th, td {
    padding: 2px;
  }

.division{
    margin-top: 15px;
}
.total{
    width: 80%; 
    margin: auto;
    margin-top: 10px;
    display: flex;
    
    justify-content: space-around;
}

 