.container-login{
    width: 400px;
    max-height: 450px;
    height: 450px;
    margin: 100px auto;
    border: 1px solid;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#440f87;
    color: white;  
    border: none;
    box-shadow: 1px 1px 6px  #6416c4;
}
 
.title-sesion{
    text-align: center;
    font-size: 30px;
    margin-bottom: 35px;
}

.input{
    margin-bottom: 20px;
    width: 100%;
    height: 35px;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    padding: 15px;
}

.buttonLogin{
    height: 35px;
    border-radius: 7px;
    border: none;
    width: 80%;
    background: #440f87;
    border: solid 1px white;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.buttonLogin:hover{
background: #FFFF;
color: #440f87;
transition: all .3s ease-in;
}
.inputs{
    text-align: center;
}
.registrarme{
    text-align: center;
}
.registrarme:hover{
    text-decoration: underline;
    cursor: pointer;
}